<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'dentists')}">
<head>
    <meta charset="UTF-8">
    <title>List of Dentists</title>
</head>
<body>
    <h2 th:text="'List of Dentists'">List of Dentists</h2>

    <table id="dentists" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dentist : ${dentists}">
            <td th:text="${dentist.id}">1</td>
            <td th:text="${dentist.firstName}">Alcatel</td>
            <td th:text="${dentist.lastName}">DC</td>
        </tr>
        </tbody>
    </table>

</body>
</html>