<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'dentists')}">
<head>
    <meta charset="UTF-8">
    <title>List of Dentists</title>
</head>
<body>
<h2>Dentists</h2>

<table id="dentists" class="table table-striped">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dentist : ${dentists}">
        <td th:text="${dentist.firstName}"></td>
        <td th:text="${dentist.lastName}"></td>
        <td><span th:each="specialty : ${dentist.specialties}"
                  th:text="${specialty.description + ' '}" /> <span
                th:if="${dentist?.specialties?.size() == 0}">none</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>