<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'companies')}">

<body>

<h2>Companies</h2>

<table id="companies" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Address</th>
        <th>City</th>
        <th style="width: 120px">Phone</th>
        <th>Workers</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${selections}">
        <td>
            <a th:href="@{/companies/__${company.id}__}" th:text="${company.firstName + ' ' + company.lastName}"/></a>
        </td>
        <td th:text="${company.address}"/>
        <td th:text="${company.city}"/>
        <td th:text="${company.phone}"/>
        <td><span th:each="worker : ${company.workers}" th:text="${worker.name} "/></td>
    </tr>
    </tbody>
</table>

</body>
</html>